@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&subset=cyrillic');

:root {
  --form-item-margin: 20px;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
h2 {
  margin-top: 23px;
}
ul,
.item-list ul {
  margin-left: 0;
  padding-left: 30px;
}
small {
  font-size: 13px;
}
a:hover {
  color: #0089df;
  transition: color 0.2s;
}

/* Layout */
.content-header {
  margin-bottom: 25px;
  padding-top: 15px;
}

/* Breadcrumb */
.breadcrumb {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  li:before {
    margin: 0 5px;
  }
}

/* Page title */
.page-title {
  margin: 0 0 10px 0;
}

/* Primary Tabs */
.tabs.primary {
  margin-top: 0;

  a {
    color: #424231;
    font-weight: 600;
  }
  a:focus {
    color: black;
    text-decoration: none !important;
  }
}

/* Secondary tabs */
.tabs.secondary {
  margin: -5px 0 25px 0;

  a {
    font-weight: bold;
  }
  a:focus {
    text-decoration: none !important;
  }
}

/* Table */
table {
  border: 1px solid #CBCBCB;
}
tr:last-child {
  border-bottom-color: #CBCBCB;
}
tr.region-title {
  background: #F5F5F2;
}
td,
th {
  padding: 8px 10px;
}
thead th {
  text-transform: none;
  line-height: 1.3;
}
th > a:after {
  bottom: -8px;
}
.tabledrag-changed {
  display: none;
}
.tabledrag-changed-warning {
  display: none !important;
}

/* Form */
.form-item,
tr.odd .form-item,
tr.even .form-item {
  margin-top: var(--form-item-margin);
  margin-bottom: var(--form-item-margin);
}
details > .details-wrapper > .form-item:first-child,
td > .form-item:first-child {
  margin-top: 0;
}
details > .details-wrapper > .form-item:last-child,
td > .form-item:last-child {
  margin-bottom: 0;
}
label,
.label,
.fieldset-legend {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}
label.option {
  font-size: 14px;
}
div.description,
.form-item .description,
.form-composite > .fieldset-wrapper > .description,
.form-item .description,
.user-admin-settings .details-description {
  margin-top: 6px;
  font-size: 13px;
  color: #868686;
}
.description:empty {
  margin: 0;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 21px;
}
fieldset:not(.fieldgroup) {
  margin-top: var(--form-item-margin);
  margin-bottom: var(--form-item-margin);
}
.form-actions {
  margin-top: calc(var(--form-item-margin) * 2);
  margin-bottom: var(--form-item-margin);
}
.tabledrag-toggle-weight-wrapper {
  float: right;
  margin: -10px 0 2px 0;
  font-size: 12px;
}

/* Inputs */
input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea,
select,
select:hover,
details select {
  padding: 3px 7px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #B7B7B7;
  color: inherit;
  font: inherit;
  line-height: 1.6;
  transition: none;
  outline: none;

  &:focus {
    border-color: #40b6ff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #FCFCFA;
  }
}
textarea.form-textarea {
  font-family: 'Consolas', monospace;
}
select,
select:hover,
select:focus,
details select {
  padding-right: 22px;
  background: #fcfcfa url(/core/misc/icons/333333/caret-down.svg) no-repeat right 3px center;
}
.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: right 4px center;
}
.cke_chrome {
  border: 1px solid #b8b8b8 !important;
}
.field-suffix {
  margin-left: 5px;
}

/* Radios + checkboxes */
.form-checkboxes .form-item,
.form-radios .form-item {
  --form-item-margin: 7px;
}
.form-checkboxes .form-item:last-child,
.form-radios .form-item:last-child {
  margin-bottom: 0;
}
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
input[type="checkbox"]:last-child,
input[type="radio"]:last-child {
  margin-right: 0;
}

/* Buttons */
.button,
.image-button {
  margin-left: 0;
  margin-right: 0;
}
.button {
  padding: 4px 20px 5px 20px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.3;
}
.button--danger:hover,
.button--danger:focus,
.button--danger:active {
  padding: 4px 20px 5px 20px;
}
.button + .button {
  margin-left: 10px;
}
.form-wrapper .paragraphs-dropdown-action {
  margin-left: 0;
}
.no-touchevents .button--small {
  padding: 0 12px 2px 12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
}
.button-action:before {
  padding-right: 5px;
}

/* Text filter selector */
.filter-wrapper {
  label {
    margin-right: 5px;
  }
  .filter-guidelines {
    display: none;
  }
  label {
    font-weight: normal;
  }
}

/* Inline form */
.form--inline {
  & > .form-item {
    display: inline-block;
    float: none;
    margin-right: 15px;
  }
  & > .form-item-separator {
    margin-top: 50px;
    margin-left: 0;
  }
  & > .form-actions {
    display: inline-block;
  }
  & > .form-item .form-text,
  & > .form-item .form-select {
    min-width: 100%;
  }
}
.container-inline {
  .form-item {
    margin-right: 10px;
  }
  .form-item:last-child {
    margin-right: 0;
  }
  label {
    margin-right: 5px;
  }
}

/* Details */
details {
  &,
  &.seven-details {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: inherit;
  }
  .vertical-tabs__panes > & {
    margin-top: 0;
    margin-bottom: 0;
  }
  td > &:first-child {
    margin-top: 0;
  }
  td > &:last-child {
    margin-bottom: 0;
  }
  [data-vertical-tabs-panes] &.form-wrapper {
    background: transparent;
  }
  summary {
    padding: 8px;
    font-weight: bold;
    color: #0074bd;
  }
  summary:hover {
    color: #0089df;
    transition: color 0.2s;
  }
  summary:hover,
  summary:focus {
    text-decoration: none;
  }
  .details-wrapper {
    padding: 18px 22px;
  }
  summary + .details-wrapper {
    padding-top: 10px;
  }
}

/* Dropdown */
.dropbutton-widget {
  .js & {
    background-color: transparent;
  }
  .js & .dropbutton-action a,
  .js & .dropbutton-action input,
  .js & .dropbutton-action button {
    padding: 4px 10px 5px 10px;
    font-weight: normal;

    &:focus {
      text-decoration: none;
    }
  }
  .js .dropbutton-multiple & .dropbutton-action a,
  .js .dropbutton-multiple & .dropbutton-action input,
  .js .dropbutton-multiple & .dropbutton-action button {
    padding-right: 8px;
  }
}

/* UI Dialog */
.ui-dialog {
  outline: none;
}

/* Action links */
.action-links {
  margin: 20px 0;
}

/* Messages */
.messages {
  margin-bottom: 20px;
}

/* Views */
.views-ui-display-tab-bucket {
  padding-top: 0;
}
.views-ui-display-tab-bucket__title {
  background-color: #F0F0EE;
}
.views-ui-display-tab-bucket .views-display-setting {
  font-size: 13px;
}
.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: transparent;
}
.views-ui-display-tab-bucket__title,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: 4px 8px 5px 8px;
}
.views-ui-display-tab-bucket .dropbutton-wrapper {
  top: 3px;
}
.views-ui-display-tab-setting > span {
  margin-left: 0;
}
.views-ui-display-tab-bucket h3 {
  font-size: inherit;
  text-transform: none;
}
.views-display-setting {
  border-bottom: 1px solid #F3F3F3;
}
.views-display-setting:last-child {
  border-bottom: none;
}
.views-display-setting .label {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 600;
}
.views-display-setting .views-ajax-link {
  margin-left: 0;
}
.views-display-setting a:hover {
  text-decoration: underline;
}
details.views-display-column {
  background: transparent;
}
.views-ui-dialog {
  max-width: 90%;
}

/* Modules table */
.system-modules {
  tr.even,
  tr.odd {
    border-bottom: 1px solid #BCBCBC;
  }
  td.checkbox {
    padding-right: 0;
  }
  details.form-wrapper {
    background: transparent;
  }
  table col.checkbox {
    width: 50px;
  }
  table col.name {
    width: 300px;
  }
}

/* Status report */
.system-status-general-info {
  .system-status-general-info__item-title {
    margin-bottom: 5px;
  }
  .system-status-general-info__sub-item-title {
    font-size: 14px;
    font-weight: 600;
  }
}
.system-status-report {
  .system-status-report__status-title {
    text-transform: none;
    line-height: 1.4;
  }
  .system-status-report__status-title .details-title:before,
  .details .system-status-report__status-icon:before {
    top: 1.15em;
  }
}

/* Vertical tabs */
.vertical-tabs {
  .vertical-tabs__menu-item a {
    padding: 15px;
  }
  .vertical-tabs__menu-item-summary:empty {
    display: none;
  }
}

/* Admin list */
.admin-list {
  li a {
    padding-top: 10px !important;
    padding-bottom: 10px;
    background-position: 1px 13px;
  }
  .description {
    margin-top: 5px;
  }
  .description:empty {
    display: none;
  }
}

/* Views bulk operations form */
.views-form {
  .form-item-action {
    display: inline-block;
    margin-right: 10px;
  }
  .form-item-action + .form-actions {
    display: inline-block;
  }
  #edit-header ~ .views-table + .form-actions {
    display: none;
  }
  .form-select {
    max-width: 300px;
  }
}
