/* Blocks layout form */
.block-admin-display-form {
  #blocks td:nth-child(3) .form-item {
    margin-bottom: 0;
  }
}

/* Add field form first step */
.field-ui-field-storage-add-form {
  input[name="label"],
  input[name="existing_storage_label"] {
    width: 300px;
  }
  .machine-name-target {
    width: 260px;
  }
}

/* Field settings form */
.field-storage-config-edit-form {
  .form-item-cardinality,
  .form-item-cardinality-number {
    margin-top: 7px;
  }
  .form-item-cardinality-number input {
    width: 70px;
  }
}

/* Views list */
.views-listing-table {
  h3 {
    font-size: inherit;
  }
  .views-ui-view-displays ul {
    margin: 0;
  }
}

/* Views edit display form */
.views-ui-edit-display-form {
  select[name^="style_options[columns]"] {
    max-width: 200px;
  }
  .form-item-style-options-info-node-bulk-form-separator .form-select {
    width: 90px;
  }
}

/* Interface translation form */
.locale-translate-filter-form {
  margin-bottom: 20px;

  .form-item-langcode,
  .form-item-translation {
    margin-top: 0;
  }
  .form-actions {
    margin-top: 1px;
  }
}
.locale-translate-edit-form {
  .messages--warning {
    display: none !important;
  }
}

/* "Field group" module add form */
.field-group-add-form {
  .machine-name-source {
    width: 260px;
  }
  .machine-name-target {
    width: 212px;
  }
}

/* Field type "created" */
.field--type-created {
  .label {
    display: block;
  }
  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Language content settings form */
.language-content-settings-form {
  .form-wrapper {
    margin-top: 40px;
  }
  tr.bundle-settings {
    background: #F5F5F2;
  }
  tr.bundle-settings td.bundle {
    font-weight: bold;
  }
  tr.field-settings td.translatable,
  tr.column-settings td.translatable {
    padding-left: 40px;
  }
}
